.boxStatus{
    /* Linha para ter uma noção */
    border-style: solid;

    width: 400px;
    height: 22rem;
}
.iconReturn{
    margin: 0.5rem;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}
.status{
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1rem;
}
.adicionar{
    margin: 50px 10px 0 0;
}
.boxButtons{
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 0.01;
}